*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Visibility */
.visibility{
    display: none;
}
/* Primary Font */
.p-font{
    font-family: "Quicksand", serif;
}

/* Description Font */
.d-font{
    font-family: "Raleway", serif;
}

/* Designing Nav-bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav-logo-title{
    display: flex;
    align-items: center;
}

.nav-logo-title > img{
    width: 80%;
}
nav > ul{
    display: flex;
    list-style: none;
}

nav > ul > li > a{
    text-decoration: none;
    font-weight: bold;
}

#nav-bar-home{
    color: rgb(254, 163, 1);
}

#nav-bar-about{
    color: rgb(1, 172, 253);
}

#nav-bar-facilities{
    color: rgb(5, 212, 223);
}

#nav-bar-admission{
    color: rgb(93, 88, 239);
}

.nav-bar{
    padding: 10px;
}

.nav-bar > a{
    font-size: 0.8rem;
}
nav > button{
    padding: 7px 30px;
    font-size: 0.8rem;
    background-color: #FEA301;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.button-top:hover{
    background-color: #d18504;
}

hr{
    display: none;
    background-color: #FEA301;
}

.hamburger-icon{
    display: none;
}

.hero-section{
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 50px;
}

h1{
    font-size: 3rem;
}

.hero-section-description{
    font-size: 1rem;
    margin: 24px auto;
}

.hero-section-btn{
    padding: 7px 30px;
    font-size: 0.8rem;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#id-1{
    color: #FEA301;
}

#id-2{
    color: #01ACFD;
}

/* Media Query */

@media screen and (max-width:576px){
    .nav-name , .nav-container , .button-top{
        display: none;
    }
    nav{
        justify-content: space-between;
        margin: 10px 20px;
    }
    hr{
        display: block;
        background-color: #FEA301;
    }
    
    .hamburger-icon{
        display: block;
    }

    .hero-section{
        flex-direction: column-reverse;
        max-width: 90%;
    }

    .hero-section-img{
        max-width: 100%;
        margin-top: 2em;
    }

    h1{
        font-size: 2.5rem;
    }
    .hero-section-heading{
        text-align: center;
    }

    .hero-section-description{
        font-weight: 500;
    }

    .hero-section-btn{
        padding: 14px 45px;
    }
}