*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Primary Font */
.p-font{
    font-family: "Quicksand", serif;
}

/* Description Font */
.d-font{
    font-family: "Raleway", serif;
}