*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Visibility */
.visibility{
    display: none;
}
/* Primary Font */
.p-font{
    font-family: "Quicksand", serif;
}

/* Description Font */
.d-font{
    font-family: "Raleway", serif;
}

/* Designing Nav-bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nav-logo-title{
    display: flex;
    align-items: center;
}

.nav-logo-title > img{
    width: 80%;
}
nav > ul{
    display: flex;
    list-style: none;
}

nav > ul > li > a{
    text-decoration: none;
    font-weight: bold;
}

.nav-bar{
    padding: 10px;
}

#nav-bar-home{
    color: rgb(254, 163, 1);
}

#nav-bar-about{
    color: rgb(1, 172, 253);
}

#nav-bar-facilities{
    color: rgb(5, 212, 223);
}

#nav-bar-admission{
    color: rgb(93, 88, 239);
}

.nav-bar > a{
    font-size: 0.8rem;
}
nav > button{
    padding: 7px 30px;
    font-size: 0.8rem;
    background-color: #FEA301;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.button-top:hover{
    background-color: #d18504;
}

/* Line Break Only Visible In Mobile */

hr{
    display: none;
    background-color: #FEA301;
}

/* Hamburger Icon Only Visible In Mobile */
.hamburger-icon{
    display: none;
}

/* Hero Section */

.hero-section{
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 50px;
}

h1{
    font-size: 3rem;
}

.hero-section-description{
    font-size: 1rem;
    margin: 24px auto;
}

.hero-section-btn{
    padding: 7px 30px;
    font-size: 0.8rem;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#id-1{
    color: #FEA301;
}

#id-2{
    color: #01ACFD;
}

/* Main Content */

main{
    background-image: url("../assets/bg.png");
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

/* Section */

.section{
    max-width: 80%;
    margin: auto;
}

.section-title{
    text-align: center;
    margin-top: 2em;
    font-size: 1.8rem;
    font-weight: 700;
}

/* Section-1-Container */

.section-1-container{
    display: flex;
    gap: 30px;
    margin: 2em auto;
    justify-content: space-between;
}

.card-container{
    box-sizing: border-box;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 20px;
    text-align: center;
}

.card-img{
    max-width: 100%;
    height: 40%;
}

.card-img > img{
    height: 100%;
    object-fit: cover;
}

.section-1-h{
    margin: 2em;
}

.card-p{
    font-size: 0.8rem;
    color: #808080;
    line-height: 2;
}

.card-container > div > a{
    text-decoration: none;
}

.readmore{
    margin-top: 30px;
}

#readmore-1{
    color: #64C8FF;
    font-size: 0.8rem;
}

#readmore-2{
    color: #F0AA00;
    font-size: 0.8rem;
}

#readmore-3{
    color: #8700FF;
    font-size: 0.8rem;
}

#card-1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

#card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

#card-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.section-1-btn-n-p{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    max-width: 80%;
    margin: auto;
}

#section-1-btn{
    padding: 0.5em 0.8em;
    background-color: #FEA301;
    border-radius: 2em;
    font-size: larger;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#section-1-btn:hover{
    background-color: #d18504;
}

/* Section 2 */


.section-title{
    margin: 2em;
}
.container{
    display: flex;
    gap: 10px;
}

/* Container-1 */

.container-1{
    border-radius: 16px 16px 16px 16px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    object-fit: cover;
    max-width: 50%;
}

.container-1-description{
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
}

/* Container-2 */

.container-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    object-fit: cover;
    max-width: 50%;

}

.container-2-parent{
    display: flex;
    gap: 10px;
}

.container-2-child{
    border-radius: 16px 16px 16px 16px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    object-fit: cover;
    max-width: 50%;
    position: relative;
}

.container-text-position{
    position: absolute;
    margin-top: -20px;
    margin-left: 20px;
    padding: 0.8em;
    border-radius: 15px;
    font-size: 0.7rem;
    color: white;

}

#position-1{
    background: rgb(60, 216, 232);;
}

#position-2{
    background: rgb(149, 178, 38);
}

#position-3{
    background: rgb(93, 88, 240);;
}

#position-4{
    background: rgb(149, 178, 38);;
}

#position-5{
    background: rgb(149, 178, 38);;
}

#hidden{
    display: none;
}
.container-2-description{
    padding: 20px;
    font-weight: 700;
}

.view-all-btn{
    padding: 7px 30px;
    font-size: 0.8rem;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-position{
    text-align: center;
    margin-top: 1em;
    padding: 3em
}

/* Footer Section */

footer{
    background: rgb(1, 172, 253);
}


.footer-section{
    max-width: 80%;
    display: flex;
    margin: auto;
    padding: 6em 0;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
}

/* Footer col 1 */

.footer-section-1{
    display: flex;

}

.footer-section-1 > h4{
    margin-top: .2em;
    font-size: 1.6rem;
    font-weight: 700;
}

.footer-section-1-description{
    margin-top: 1em;
    font-weight: 300;
    font-size: 0.8rem;
}
.footer-section-2{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.footer-section-2 > h5{
    font-size: 1rem;
    font-weight: 700;
}

.footer-section-2 > a{
    font-weight: 350;
    text-decoration: none;
    color: white;
}
.footer-section-3{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 4em;
}

.footer-section-3 > h5{
    font-size: 1rem;
    font-weight: 700;

}

/* Media Query */

@media screen and (max-width:576px){
    .nav-name , .nav-container , .button-top{
        display: none;
    }
    nav{
        justify-content: space-between;
        margin: 10px 20px;
    }
    hr{
        display: block;
        background-color: #FEA301;
    }
    
    .hamburger-icon{
        display: block;
    }

    .hero-section{
        flex-direction: column-reverse;
        max-width: 90%;
    }

    .hero-section-img{
        max-width: 100%;
        margin-top: 2em;
    }

    h1{
        font-size: 2rem;
    }
    .hero-section-heading{
        text-align: center;
    }

    .hero-section-description{
        font-weight: 500;
    }

    .hero-section-btn{
        padding: 14px 45px;
    }
    .section-1-container{
        flex-direction: column;
    }
    .section-title{
        margin-bottom: none;
        font-size: 1rem;
        margin-top: 4em;
    }
    .section-1-btn-n-p{
        display: none;
    }

    .container-1{
        display: none;
    }

    .container-2{
        max-width: 100%;
    }

    .footer-section{
        flex-direction: column;
        gap: 2em;
        max-width: 80%
    }
    #hidden{
        display: flex;
    }
}